@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  color: #242424;
  background-color: #ffffff;
}

.button {
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
}

.page-header {
  color: #000000;
  background-color: #ffffff;
}

.navigation-link {
  font-weight: 700;
  text-align: left;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
}

.page-main {
  background-size: 100% auto;
  background-repeat: no-repeat;

}

.advantages-list {
  text-align: center;
}

.advantages-title {
  font-family: inherit;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;

}

.advantages-description {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
}

.recommendations-list {
  text-align: center;
}

.recommendations-title {
  font-family: inherit;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}

.recommendations-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.search {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.search-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-transform: initial;
}

.page-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.page-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  text-align: center;
  text-transform: initial;
}

.footer-contacts-phone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
}

.subscribe-button {
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #82B3D3;
  width: 232px;
  height: 52px;
  fill: solid;
}

.page-inner {
  background-color: #ffffff;
}

.sorting-container {
  background-image: url(../images/catalogbackground.jpg);
  background-repeat: no-repeat;
}

.page-inner-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
}

.breadcrumbs {
  color: #ffffff;

}

.breadcrumbs-link {
  color: inherit;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
}


.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.submit {
  background-color: #82B3D3;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;

}

.reset {
  background-color: transparent;
  color: #000000;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;

}

.found {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  background-color: #ffffff;
}

.button-light {
  background-color: #ffffff;
  color: #000000;

}

.hotel-card-link {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  text-align: left;
  color: #000000;
  background-color: #ffffff;
}

.hotel-card-general {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  text-transform: initial;
}

.hotel-card-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  text-align: right;
}

.hotel-card-button-1 {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
}

.hotel-card-button-2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  background-color: #82B3D3;
}

.hotel-card-button-2-in {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  background-color: #7DB54F;
}

.hotel-card-rating {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  background-color: #F2F2F2;
  text-transform: uppercase;
}

.pagination-link{
 font-weight: 700;
 text-decoration: none;
 font-size: 20px;
 line-height: 36px;
 background-color: #82B3D3;
 color: #ffffff;
}

.pagination-current {
  background-color: #F2F2F2;
  color: #000000;
}

.newsletter-button {
 color: #ffffff;
 background-color: #82B3D3;
}

.button-go {
  background-color: #ffffff;
}
