@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}

html {
  height: 100%;
  min-height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  color: #242424;
  background-color: #ffffff;
  margin: 0 auto;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  height: 100%;
  flex-grow: 1;
  width: 1200px;

}

.button {
  font-family: "PT Sans", sans-serif;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
}

.page-header {
  color: #000000;
  background-color: #ffffff;
  display: flex;
  justify-content:space-around;
  margin: 0 auto;
}

.page-header-logo{
  margin-left: 70px;

}

.navigation {
  display: flex;
  margin: 0 auto;

}

.navigation-list {
  margin-left: auto;
  margin: 0;
  padding: 0;
  margin-right: 285px;
  justify-content: center;
}

.navigation-user {
  margin-left: auto;
  margin-right: 72px;
}

.page-container {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;

  flex-grow: 1;
}

.advantage-city {
  margin: 0 auto;
  display: flex;
  justify-content: center;

}

.advantage-bridge {
  display: flex;
  margin: 0 auto;
  justify-content: center;


}

.text-advantages {
  display: flex;
  margin: 0 auto;
  justify-content: center;

}

.advantages-list{
  display: flex;
  margin: 0 auto;
  width: 1200px;
}

.text-city {
  background-color: #82B3D3;
  color: #ffffff;
}

.text-bridge {
  background-color: #82B3D3;
  color: #ffffff;
}

.text-city .advantages-description {
  color: #ffffff;
}

.text-bridge .advantages-description {
  color: #ffffff;
}

.welcome {
  background-color: #000000;
  background-image: url(../images/backhero.jpg);
  display: block;
  margin: 0 auto;
  background-repeat: no-repeat;
  margin-right: auto;
  width: 1200px;
  background-size:auto;
}

.navigation-link {
  font-weight: 700;
  text-align: left;
  color: #000000;
  text-decoration: none;
}

.page-main {
  background-size: 100% auto;
  background-repeat: no-repeat;

}

.advantages-list{
  display: flex;
  margin: 0 auto;
  padding: 0;
}

.advantages-item {
  background-color: rgba(131, 179, 211, 0.12);
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-width: 400px;
}

.advantages-item:nth-child(2) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.advantages-description {
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  text-align: center;

}

.recommendations-styles{
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;

}

.recommendations-list{
  display: flex;
  margin: 0 auto;
  padding: 0;
}

.recommendations-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}

.recommendations-description {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}


.recommendations-item {
  background-color: rgba(131, 179, 211, 0.12);
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-width: 400px;
}

.recommendations-item:nth-child(2) {
  background-color: #ffffff;
}

.search{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  font-size: 22px;
  line-height: 26px;

}

.search-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.search-description {
  text-transform: none;
  text-decoration: none;
  font-weight: 400;
  color: #333333;
}

.newsletter {
  background-color: #ffffff;
  background-image: url(../images/lowerbackground.jpg);
  color: #ffffff;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  width: 1200px;
}

.button-all{
  display: flex;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 0 auto;
  float: left;
}

.page-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.page-description {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  text-align: center;
  text-transform: none;
}

.footer-contacts-phone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: #000000;
  text-decoration: none;

}

.subscribe-button {
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #82B3D3;
  width: 232px;
  height: 52px;
  font-family: "PT Sans", sans-serif;
}

.page-inner {
  background-color: #ffffff;
}

.sorting-container {
  background-image: url(../images/catalogbackground.jpg);
  background-repeat: no-repeat;
  display: flex;
  margin: 0 auto;
  background-size: auto;
  flex-wrap: wrap;
}

.infrastructure-container {
  flex-direction: column;
  width: 150px;
  list-style: none;
}

.page-inner-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
}

.breadcrumbs {
  color: #ffffff;

}

.breadcrumbs-link {
  color: inherit;
  font-size: 16px;
  line-height: 21px;
}


.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.submit {
  background-color: #82B3D3;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;

}

.reset {
  background-color: transparent;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;

}

.found {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  background-color: #ffffff;
}

.button-light {
  background-color: #ffffff;
  color: #000000;

}

.hotel-card-link {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  color: #000000;
  background-color: #ffffff;
}

.hotel-card-general {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  text-transform: none;
}

.hotel-card-price {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  text-align: right;
}

.hotel-card-button-more {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
}

.hotel-card-button-fav {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  background-color: #82B3D3;
}

.hotel-card-button-fav-in {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  background-color: #7DB54F;
}

.hotel-card-rating {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  background-color: #F2F2F2;
  text-transform: uppercase;
}

.pagination-link {
  font-weight: 700;
  text-decoration: none;
  font-size: 20px;
  line-height: 36px;
  background-color: #82B3D3;
  color: #ffffff;
}

.pagination-current {
  background-color: #F2F2F2;
  color: #000000;
}

.newsletter-button {
  color: #ffffff;
  background-color: #82B3D3;
}

.button-go {
  background-color: #ffffff;
}

.main-container {
  flex-grow: 1;
}

.page-footer-container {
  display: flex;
  margin: 0 auto;
}

.footer-social {
  width: 142px;
  margin-right: 236px;
  display: flex;

}

.html-academy-logo {
  margin-left: 236px;
}



.living-container{
  display: flex;
  flex-direction: column;
  list-style: none;

}

.hotel-list{
  display: flex;
  flex-wrap:wrap;
  margin: 0 auto;
  flex-direction: column;
}
